<!DOCTYPE html>
<html lang = "en">
<head>
    <title>How much is my HDB?</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Home/style.css' %}">
</head>
<body>
    <!-- <div class = 'overlay'></div> -->
    <div class = 'results'>Estimated price: {{example}}</div>
    <br>
    <table class = 'input_form'>
        <form name = "hdb_data" method = "POST">
            {% csrf_token %} 
            {% for field in form %}
            <tr>
                <td>{{field.label}}</td>
                <td>{{field}}</td>
                {% if field.errors %}
                {% for error in field.errors %}
                <td class = 'errorlist'>{{ error }}</td>
                {% endfor %}
                {% endif %}
            </tr>
            {% endfor %}
            <tr>
                <td>
                    <input type="submit" value="OK" id = "submit-button">
                </td>
            </tr>
        </form>
    </table>
    <div class = 'results'>
        <p>
            If you'd like to know more about this estimator, click <a href = 'https://github.com/janshercs/whatsmyhdbprice'>here</a> to have a look!
        </p>
    </div>
</body>
</html>